.volet {
  width: 100%;
  background-color: #f6f6f6;
}

.titre-volet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ff6060;
  padding: 0px 15px;
  border-radius: 10px;
}

#titre,
span {
  font-size: 18px;
  color: white;
}
