.logement {
  width: 100%;
}

.carousel {
  position: relative;
  width: 100%;
  height: 415px;
  border-radius: 25px;
  overflow: hidden;
  margin-bottom: 30px;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-boutton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: transparent;
  color: white;
  font-size: 100px;
  cursor: pointer;
  z-index: 2;
}

.carousel-boutton.prev {
  left: 20px;
}

.carousel-boutton.next {
  right: 20px;
}

.carousel-compteur {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.logement-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logement-infos .titre-logement {
  color: #ff6060;
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 0px;
  max-width: 90%;
  min-width: 650px;
}

.logement-infos .localisation-logement {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
  margin-top: 10px;
}

.tags {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 700;
}

.info-host {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-end;
}

.host {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 65px;
  align-items: center;
}

.nom-host {
  font-size: 18px;
  color: #ff6060;
  font-weight: 500;
}

.photo-host {
  border-radius: 100%;
  height: 65px;
  width: 65px;
}

.nombre-etoile {
  display: flex;
  gap: 5px;
  padding-top: 15px;
}
.fa-solid.fa-star {
  font-size: 25px;
}
