.banniere {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 220px;
  width: 100%;
}

h1 {
  font-size: 48px;
  color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.titre-banniere {
  width: 100%;
  height: auto;
  text-align: center;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/src/assets/images/Banbiere-accueil.png");
  border-radius: 25px;
  margin: auto;
  background-position: center;
  background-size: cover;
}
