.conteneur .grid-logements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
}

.grid-logements .cartes {
  padding: 20px;
  margin: 25px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.grid-logements .cartes {
  text-decoration: none;
  color: inherit;
}

.grid-logements .cartes img {
  width: 100%;
  height: auto;
  min-height: 235px;
  border-radius: 10px;
  object-fit: cover;
}

.grid-logements .cartes h2 {
  margin-top: 10px;
  font-size: 18px;
  color: black;
  flex-direction: column;
  align-items: center;
  width: 80%;
}
