.conteneur_cartes {
  width: 100%;
  margin-top: 20px;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
}

.conteneur_cartes .grid-logements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
}

.grid-logements .cartes {
  padding: 20px;
  border-radius: 10px;
  max-width: 100%;
  max-height: 100%;
}

.grid-logements .cartes {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.grid-logements .cartes img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.grid-logements .cartes .degrader_cartes {
  width: 90%;
  height: 300px;
  position: absolute;
  top: 6%;
  background: linear-gradient(
    rgba(237, 231, 231, 0.524),
    rgba(23, 22, 22, 0.492)
  );
  border-radius: 10px;
}

article .degrader_cartes .cartes_titre {
  font-size: 18px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 65%;
}
