.conteneur_cartes {
  width: 100%;
  margin-top: 20px;
  height: 100%;
  background-color: #f6f6f6;
  border-radius: 25px;
}

.conteneur_cartes .grid-logements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
}

.grid-logements .cartes {
  position: relative;
}

.grid-logements .cartes img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}

.grid-logements .cartes .degrader_cartes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.245));
  border-radius: 10px;
}

.cartes .degrader_cartes .cartes_titre {
  font-size: 18px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 250px;
  margin-bottom: 0px;
  margin-top: 0px;
}
